@import "../../partials/_colors";

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;

  background: $headerColor;

  ul {
    display: flex;
    list-style-type: none;
  }

  .headerLink {
    margin:0 16px;
    color: $headerLinkColor;
    text-decoration: none;

    &active {
      color: $headerLinkColor;
    }
  }
}
